.todayPage {
}

.button {
  background-color: transparent;
  appearance: none;
  border: none;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1rem;
  border-top: rgba($color: #c0b3b3, $alpha: 0.3) 1px solid;
  width: 100%;
  margin: 2em 0;
  padding: 1em 0;
}

.button::before {
  content: "";
  background-image: url("../../../assets/images/add-btn.svg");
  background-position: center;
  background-size: contain;
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  margin-right: 0.5em;
}
