.container {
  label {
    display: block;
    margin-bottom: .6em;
  }
}
.inputAndBtnContainer {
  display: flex;
  input {
    color: white;
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border-radius: 3px;
    outline: none;
    border: none;
    padding: .4em .8em;
  }
  input:focus {
    outline: 1px solid #ff2855;
    transition: outline 150ms ease-in-out;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 10000s;
    -webkit-text-fill-color: #ffffff !important;
  }

  .btn {
    margin-left: auto;
    width: 5%;
    box-sizing: content-box;
    background-image: url('../../../assets/images/submitBtn.svg');
    appearance: none;
    border: none;
    background-color: transparent;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
  }
}
