.container {
  display: flex;
  flex-direction: column;
  label {
    display: block;
    margin-bottom: 0.6em;
    font-size: 0.9rem;
  }
  input {
    width: 100%;
    color: black;
    appearance: none;
    -webkit-appearance: none;
    background-color: #dbdbdb;
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 0.4em 0.8em;
  }
  input:focus,
  input:active {
    outline: 1px solid #ff2855;
    transition: outline 150ms ease-in-out;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 10000s;
    -webkit-text-fill-color: #ffffff !important;
  }

  span {
    margin-top: 0.6em;
    button {
      padding: 0.6em 0.8em;
      box-sizing: content-box;
      appearance: none;
      border: none;
    }
    .add {
      background-color: #ff2855;
      color: white;
      font-weight: 600;
      border-radius: 4px;
    }
    .add:disabled {
      background-color: #ff285580;
      color: #FFFFFF80;
    }
    & > :not(:first-child) {
      color: white;
      margin-left: 1em;
      background-color: #2f2f2f;
    }
  }
}
