.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f3f3f3;
    h1{
        font-weight: bold;
        font-size: 2rem;
    }
}

.inputContainer{
    display: flex;
    align-items: end;
    flex: 1;
    button{
        appearance: none;
        background-image: url('../../../assets/images/navigate-arrow.svg');
        background-position: center;
        background-repeat: no-repeat;
        transform: scaleX(-1);
        background-size: 50px 100px;
    }

}
.innerInputContainer{
    min-width: 100%;
    *{
        width: 100%;
        display: block;
    }    
}