.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f3f3f3;
    h1{
        font-weight: bold;
        font-size: 2rem;
    }
}

.inputContainer{
    min-width: 70%;
    flex: 1;
    align-items: start;
    *{
        width: 100%;
        display: block;
}

}