@use "../../app-components/project-components/project-section/projectSection.module.scss"
  as projectSection;

.linkContainer {
  width: 100%;
  border-radius: 6px;
  display: flex;
  position: relative;
  align-items: center;
  &:hover {
    transition: background-color 150ms ease-in-out;
    background-color: rgba($color: #474747, $alpha: 0.5);
  }
  a {
    display: inline-flex;
    width: 100%;
    min-height: 40px;
    padding: 0.4em 1em;
    box-sizing: border-box;
    border-radius: 6px;
    align-items: center;
    p {
      margin-left: auto;
    }
  }
}

.options {
  z-index: 999;
  position: absolute;
  left: 80%;
  min-width: 10em;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  button {
    font-size: 0.9rem;
    appearance: none;
    border: none;
    text-align: left;
    padding: 1em 1em;
    position: relative;
    display: flex;
    align-content: center;
  }
  & > button::before {
    content: "";
    margin-right: .6em;
    display: inline-block;
    background-image: url("../../../assets/images/edit-button.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 15px;
    height: 15px;
  }
  button:hover {
    background-color: gray;
  }
}

.optionsBtn {
  @extend .option;
  width: 20px;
}
