.button {
  background-color: transparent;
  appearance: none;
  border: none;
  color: white;
  position:relative;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}


.button::before{
  content: "";
  background-image: url('../../../assets/images/add-btn.svg');
  background-position: center;
  background-size: contain;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  margin-right:.5em;
}


