@use ".././../task-item/taskItem.module.scss" as taskItem;

.section {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
  padding: 2em 3em;
  border-radius: 10px;
  width: 300px;
  div > li:not(:last-child) {
    margin-bottom: 1em;
  }
}

.titleOption {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  h1 {
    color: #505050;
    font-weight: 600;
  }
  button {
    margin-left: auto;
    background-image: url('../../../../assets/images/section-options.svg');
    @extend .taskOptions;
  }
}

.projectTaskContainer{
  // flex-basis: 1;
}
