.section {
  background-color: #e9e9e9;
  padding: 2em 3.6em;
  border-radius: 10px;
  display: flex;
  flex-direction:column;
  gap: 2em;
  h1 {
    color: #505050;
    font-weight: 600;
  }
  div > li:not(:last-child) {
    margin-bottom: 1.5em;
  }
}
