@use "../../sidebar/project-link-input/projectLinkInput.module.scss" as
  projectLinkInput;

.container {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1.2em 1em;
  h1 {
    font-size: 1rem;
    font-weight: 600;
  }
  & > div:not(last-child) {
    margin-bottom: 0.8em;
  }
  :first-child {
    :last-child {
      margin-left: auto;
    }
  }
  :first-child,
  :last-child {
    display: flex;
  }
}

.titleCloseBtn {
  button {
    background-image: url("../../../assets/images/proj-add-btn.svg");
    border: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotateZ(45deg);
  }
}

.input {
  @extend .container;
  padding: 0;
  input {
    @extend .projectLinkName;
  }
}

.buttons {
  margin-top: 0.8em;
  button {
    appearance: none;
    border: none;
    padding: 0.6em 0.8em;
  }
  :first-child {
    @extend .add;
  }
  :last-child {
    background-color: transparent;
    color: white;
    border-radius: 4px;
    margin-left: 1em;
  }
  :last-child:hover {
    text-decoration: underline;
  }
}
