@use "../../task-item/taskItem.module.scss" as taskItem;

.projectTaskItem {
  @extend .taskItem;
  padding: 0.8em 0.6em;
  h3 {
    font-size: 0.6rem;
    font-weight: 300;
  }

  button {
    margin-right: 1em;
    @extend .doneBtn;
  }
}
