.taskItem {
  display: flex;
  background-color: #323232;
  padding: 0.6em 1.3em;
  border-radius: 10px;
  align-items: center;
  max-width: 100%;
  button {
    appearance: none;
  }
}

.currentPriority {
  display: flex;
  align-items: center;
  gap: 0.7em;
  & > * {
    box-sizing: border-box;
    width: 20px;
    height: 6px;
    display: inline-block;
    border-radius: 20px;
    background-color: #565656;
  }
}
.taskContentContainer {
  flex: 1 1 auto;
  & > *:not(:last-child) {
    margin-bottom: 0.5em;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    span {
      margin-left: 6px;
      color: #9d9d9d;
      font-size: 0.8em;
      font-weight: 200;
    }
  }
  p {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px;
    white-space: nowrap;
    font-size: 0.8em;
    font-weight: 400;
  }
}

.dueDate {
  color: #ff2855;
  position: relative;
  display: block;
}

.dueDate::before {
  content: "";
  display: inline-block;
  background-image: url("../../../assets/images/task-item-due-date.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
  margin-right: .5em;
}

.doneBtn {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  border: 3px solid #4a4a4a;
  background-color: #646464;
  margin-right: 2em;
  position: relative;
  transition: 150ms background-color ease-in;
  transition: transform 150ms ease-in-out;
  &:hover {
    background-color: #e7e7e799;
  }
  &:active {
    background-color: whitesmoke;
    transform: scale(1.2);
  }
}

.taskOptions {
  background-color: transparent;
  border: none;
  background-image: url("../../../assets/images/options.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
}
