.task {
  display: flex;
  background-color: #323232;
  padding: 1em 2em;
  border-radius: 16px;
  align-items: center;
  max-width: 100%;
  button {
    appearance: none;
  }
}

.currentPriority {
  display: flex;
  align-items: center;
  gap: 0.7em;
  & > * {
    box-sizing: border-box;
    width: 20px;
    height: 6px;
    display: inline-block;
    border-radius: 20px;
    background-color: #565656;
  }
}
.taskContentContainer {
  & > *:not(:last-child) {
    margin-bottom: 0.5em;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    span {
      margin-left: 6px;
      color: #9d9d9d;
      font-size: 0.8em;
      font-weight: 200;
    }
  }
  p {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px;
    white-space: nowrap;
    font-size: 0.8em;
    font-weight: 400;
  }
}

.doneBtn {
  border-radius: 50%;
  width: 2.3em;
  height: 2.3em;
  border: 3px solid #4a4a4a;
  background-color: #646464;
  margin-right: 2em;
}

.taskOptions {
  background-color: transparent;
  border: none;
  background-image: url("../../../assets/images/options.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
}
