.logoContainer{
    display: flex;
    align-items: center;
    background-image:url('../../assets/images/logo.svg');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 8em;
}
