
.sign{
    font-size: 1rem;
    font-weight: 300;
    a:last-child{
        margin-left: 2em;
        background-color: #f3f3f3;
        color: black;
        border-radius: 10px;
        font-weight: 500;
        padding: 8px 20px;
    }
}
.main{
    flex: 1;
    background-color: #272727;
    min-height: 100%;
}
