
.sign{
    font-size: 1rem;
    font-weight: 300;
    a:last-child{
        margin-left: 2em;
        background-color: #f3f3f3;
        color: black;
        border-radius: 10px;
        font-weight: 500;
        padding: 8px 20px;
    }
}
.main{
    background-color: #272727;
}

.main,.hero,.text,.image{
    flex: 1;
}
.main,.hero{
    display: flex;
}

.text{
    color: white;
    h1{
        font-size: 2rem;
        font-weight: 600;
    }
    h1 > span{
        color: #008cff;
    }
}

.image{
}