.authContentContainer{
    width: 45%; 
    height: 60vh;
    display: flex;
    border-radius: 10px;
    box-sizing: content-box;
    overflow: hidden;
}

.rightContent,.leftContent{
    flex: 1;
}

 .leftContent{
    background-color: #393b3f;
    background-image: url('../../assets/images/waveform.svg');
    background-position: center;
    background-size: cover;
}
 .rightContent{
    background-color: #ffffff;
}
