@keyframes tabTransitionActive {
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  0% {
    opacity: 0;
  }
}

@keyframes tabTransitionInactive {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }


  100% {
    opacity: 0;
  }
}
.sideBarActive {
  transition: width 200ms ease-in-out;
  div {
    animation-name: tabTransitionActive;
    animation-duration: 150ms;
    animation-delay: 100ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }
}
.sideBarInactive {
  width: 0%;
  transition: width 200ms ease-in-out;
  div {
    animation-name: tabTransitionInactive;
    animation-duration: 150ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    display: none;
  }
}

a.active {
  background-color: rgba($color: #474747, $alpha: 0.5);
}

