.sideBar {
  background-color: #2f2f2f;
  color: white;
  width: 18%;
}

.navigation {
  padding-top: 3em;
  font-size: 1.2rem;
  li {
    border-bottom: #c0b3b3 1px solid;
  }

  & > li:hover {
    transition: background-color 150ms ease-in-out;
    background-color: rgba($color: #474747, $alpha: 0.5);
  }

  li > a::before {
    content: "";
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
  }
  li > a {
    display: flex;
    align-items: center;
    gap: 1.1em;
    width: 100%;
    height: 100%;
    padding: 0.8em 1em;
    box-sizing:border-box;
  }
}

.today > a::before {
  background-image: url("../../assets/images/today-icon.svg");
}
.overdue > a::before {
  background-image: url("../../assets/images/overdue-icon.svg");
}
.upcoming > a::before {
  background-image: url("../../assets/images/upcoming-icon.svg");
}

.active{
  outline: green 1px solid;
}

.incactive{
  outline: red 1px solid;
}
