.appPage {
	background-color: #272727;
	display: flex;
	flex: 1;
	position: relative;
	height: 0;
}

.pages,
.projectPage {
	color: white;
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 2em;
	height: 100%;
}
.projectPage {
	padding: 0em 5em;
	width: 0;
}
.pages {
	margin-bottom: 2em;
	overflow: auto;
	padding: 0em 10em;
}
@media only screen and (max-width: 1200px) {
	.projectPage,
	.pages {
		padding: 0em 6em;
	}
}

@media only screen and (max-width: 700px) {
	.projectPage,
	.pages {
		padding: 0em 2em;
	}
}

.navLeft {
	display: flex;
	gap: 0.4em;
	button {
		background-color: rgba($color: #000000, $alpha: 0);
		border: none;
		appearance: none;
		background-position: center;
		background-size: contain;
		min-width: 26px;
		min-height: 26px;
	}
	span {
		padding: 0.6em 0.8em;
		border-radius: 4px;
	}
	span:hover {
		background-color: #47474780;
	}
}
.sideBarBtn {
	background-image: url("../../assets/images/sideBarIcon.svg");
	background-repeat: no-repeat;
}
.homeBtn {
	background-image: url("../../assets/images/home1.svg");
	background-repeat: no-repeat;
}
