@use "../project-section-actions/../../../sidebar/project-actions/projectActions.module.scss"
  as projectLinkActions;

.container {
  display: flex;
  flex-direction: column;
  background-color: #323232 ;
  margin-bottom: 1em;
}
