.profile {
	position: relative;
}
.profileButton {
	width: 3em;
	height: 3em;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	color: #ff2855;
	font-weight: bold;
	border: none;
}

.emailName {
	display: flex;
	align-items: center;
	div:first-of-type {
		margin-right: 0.8em;
		span {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			width: 3.5em;
			height: 3.5em;
			background-color: #ffffff;
			border: #474747 2px solid;
			color: #ff2855;
		}
	}
	div:last-of-type {
		strong {
			text-transform: uppercase;
			font-weight: 600;
		}
		p {
			color: #474747;
		}
	}
}

.actions {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 130%;
	right: 50%;
	background-color: #ffffff;
	color: #272727;
	border-radius: 10px;
	overflow: hidden;
	button,
	.emailName {
		background-color: #ffffff;
		padding: 0.6em 2em 0.6em 1em;
		border: none;
		appearance: none;
		text-align: left;
	}

	button {
		position: relative;
		transition: background-color 150ms ease-in-out;
	}
	button:not(:last-of-type)::after {
		content: "";
		position: absolute;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		left: 85%;
		width: 18px;
		height: 18px;
		display: inline-block;
	}
	button:hover {
		background-color: rgba($color: #474747, $alpha: 0.1);
	}
}

.settings::after {
	background-image: url("../../../assets/images/settings-2.svg");
	background-repeat: no-repeat;
}
.themes::after {
	background-image: url("../../../assets/images/theme.svg");
	background-repeat: no-repeat;
}
.signout::after {
	background-image: url("../../../assets/images/cancel-button.svg");
	background-repeat: no-repeat;
}
.deleteAccount::after {
	background-image: url("../../../assets/images/trash-icon.svg");
	filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(338deg)
		brightness(106%) contrast(101%);
}
.deleteAccount {
	color: white;
	font-weight: 600;
	background-color: #ff2855 !important;
}
.emailName {
	line-height: 20px;
	:first-child {
		display: inline-block;
		font-weight: 500;
		font-size: 1rem;
	}
}

.github {
	display: flex;
	align-items: center;
	justify-content: center;
	&::before {
		content: "";
		background-image: url("../../../assets/images/settings.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		width: 15px;
		height: 15px;
		display: inline-block;
		margin-right: 0.4em;
	}
}
